# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

# tests/linter
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
uvicorn==0.13.4
fastapi==0.65.0

# utilities
six>=1.14
memoized-property
termcolor
autocrop
pillow
httplib2>=0.15.0
urllib3==1.25.4
opencv-python
python-multipart
regex


# CNN
tensorflow




